:root {
  --primary: #6979f8;
  --primary-hover: #A5AFFB;
  --second: #BE52F2;
  --second-hover: #DBA5F5;
  --success: #00C48C;
  --success-hover: #7DDFC3;
  --info: #0084F4;
  --info-hover: #66B5F8;
  --warning: #FFA26B;
  --warning-hover: #FFC7A6;
  --danger: #FF647C;
  --danger-hover: #FDAFBB;
  --green-bg: #26ae68;
  --green-bg-hover: #31c375;
  --gray-bg: #4b5563bf;
}

/** {
  box-sizing: border-box;
}*/

/*body {
  !*background: #fafafa;
  margin: 0;*!
  display: block;
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 1270px;
  min-width: 350px;
  margin: 0 auto;
}*/

a {
  color: var(--primary-color);
  text-decoration: none;
}

.line {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  &_block {
    display: block;
  }
}